<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome da embarcação"
                [(ngModel)]="embarcacao.nomeEmbarcacao" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor (R$)"
                [(ngModel)]="embarcacao.valorPassagem" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateEmbarcacao()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>