<mat-card>
    <mat-card-title>Cadastrar Embarcação</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput required placeholder="Nome inscrição" [(ngModel)]="embarcacao.numeroInscricao" name="numeroInscricao">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder="Nome da Embarcação" [(ngModel)]="embarcacao.nomeEmbarcacao" name="nomeEmbarcacao">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder="Valor da passagem" [(ngModel)]="embarcacao.valorPassagem" name="valorPassagem">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder="Quantidade de passageiros" [(ngModel)]="embarcacao.qtdPassageiros"
                name="qtdPassageiros">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder="CPF Proprietario" [(ngModel)]="embarcacao.cpfProprietario" name="cpfProprietario">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder="Nome Proprietario" [(ngModel)]="embarcacao.nomeProprietario"
                name="nomeProprietario">
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="createEmbarcacao()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>