<mat-card>
    <mat-card-title>Excluir Embarcação</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [value]="passagem.nomePassageiro" name="name" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteEmbarcacao()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>