<!-- <span class="title-group">
    <a routerLink="{{ routeUrl }}">
        <i class="material-icons">
            {{ icon }}
        </i>
        {{ title }}
    </a>
</span> -->
<div class="div-1">
    <span>
        <h3 class="h3-sp">Passagens</h3>
    </span>
    <button mat-raised-button (click)="navigateToPassagemCreate()">
        Nova Passagem
    </button>
</div>

<app-passagens-read></app-passagens-read>