<mat-card>
    <mat-card-title>Cadastrar Passagem</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput required placeholder="CPF" [(ngModel)]="passagem.cpfpassageiro" name="cpfpassageiro">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder="Nome" [(ngModel)]="passagem.nomePassageiro" name="nomePassageiro">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder="Embarcação" [(ngModel)]="passagem.idEmbarcacao" name="idEmbarcacao">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createEmbarcacao()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>