table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #08007a;
}

.delete > i {
    color: #83000d;
}
.input-search{
    float: right;
    height: 30px;
    width: 30%;
    margin: 15px 5px;
    display: inline-block;
    justify-content: center;
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}