<div class="mat-elevation-z4">
  <input class="input-search" 
  type="search" 
  placeholder="Buscar..." 
  (change)="filtrar($event.target.value)">
    <table mat-table [dataSource]="embarcacao">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name Proprietario</th>
        <td mat-cell *matCellDef="let row">{{row.nomeProprietario}}</td>
      </ng-container>

      <ng-container matColumnDef="name_emb">
        <th mat-header-cell *matHeaderCellDef>Embarcação
        </th>
        <td mat-cell *matCellDef="let row">{{row.nomeEmbarcacao}}</td>
      </ng-container>

      <ng-container matColumnDef="qtd_pass">
        <th mat-header-cell *matHeaderCellDef>Quantidade de Passageiros</th>
        <td mat-cell *matCellDef="let row">{{row.qtdPassageiros}}</td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Preço</th>
        <td mat-cell *matCellDef="let row">{{ row.valorPassagem | currency: 'BRL' }}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/embarcacao/update/{{ row.id }}" class="edit">
                <i class="material-icons">
                    edit
                </i>
            </a>
            <a routerLink="/embarcacao/delete/{{ row.id }}" class="delete">
                <i class="material-icons">
                    delete
                </i>
            </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>