<div class="mat-elevation-z4">
  <input class="input-search" 
  type="search" 
  placeholder="Buscar..." 
  (change)="filtrar($event.target.value)">
    <table mat-table [dataSource]="passagem">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let row">{{row.cpfpassageiro}}</td>
      </ng-container>

      <ng-container matColumnDef="nomePassageiro">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.nomePassageiro}}</td>
      </ng-container>

      <ng-container matColumnDef="embarcacaoId">
        <th mat-header-cell *matHeaderCellDef>Embarcação</th>
        <td mat-cell *matCellDef="let row">{{row.nomeEmbarcacao}}</td>
      </ng-container>

      <ng-container matColumnDef="inscricao">
        <th mat-header-cell *matHeaderCellDef>Inscrição</th>
        <td mat-cell *matCellDef="let row">{{row.numeroInscricao}}</td>
      </ng-container>

      

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/passagens/update/{{ row.id }}" class="edit">
                <i class="material-icons">
                    edit
                </i>
            </a>
            <a routerLink="/passagens/delete/{{ row.id }}" class="delete">
                <i class="material-icons">
                    delete
                </i>
            </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>