.sidenav {
    background-color: #00072c;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

.a-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}