
<mat-sidenav-container class="container">
    
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="0">
            <span>
                <a class="a-2" routerLink="/">
                    FluvPass
                    <!-- <img class="logo" src="assets/img/logo.png" alt="logo"> -->
                </a>
            </span>
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item  routerLink="/embarcacao">
                <i class="material-icons">
                    storefront
                </i>
                Embarcações
            </a>
            <a mat-list-item  routerLink="/passagens">
                <i class="material-icons">
                    storefront
                </i>
                Passagens
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
