button {
    margin-bottom: 30px;
    background-color: #00072c;
    color: rgb(255, 255, 255);
    float: right;
    margin: 10px;
}
.h3-sp{
    color: rgb(0, 9, 88);
    font-size: 30px;
    margin-top: 20px;
    display: flex;
}
