<!-- <span class="title-group">
    <a routerLink="{{ routeUrl }}">
        <i class="material-icons">
            {{ icon }}
        </i>
        {{ title }}
    </a>
</span> -->
<div class="div-1">
    <span>
        <h3 class="h3-sp">Embarcações</h3>
    </span>
    <button mat-raised-button (click)="navigateToEmbarcacaoCreate()">
        Nova Embarcação
    </button>
</div>


<app-embarcacao-read></app-embarcacao-read>
<!-- <app-passagens-read></app-passagens-read> -->