<mat-card>
    <mat-card-title>Alterar Passagem</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Embarcação"
                [(ngModel)]="passagem.idEmbarcacao" name="idEmbarcacao">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Embarcação"
                [(ngModel)]="passagem.cpfpassageiro" name="cpfpassageiro">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Embarcação"
                [(ngModel)]="passagem.nomePassageiro" name="nomePassageiro">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updatePassagem()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>